:root {
    --yellow-light: #FECA12;
    --orange-400: #F97316;
    --yellow-dark: #FCBA21;
    --purple: #A973C2;
    --gray-light: #C6B6B6;
    --btn: #D9D9D9;
    --red: #C00505;
    --black: #000;
    --white: #fff;
    --body: #1e1e1e;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--body);
    font-family: "Nunito", sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
}

.navbar-nav {
    display: flex;
    list-style: none;
}

.navbar-item {
    padding: 20px;
}

.nav-item .nav-link {
    margin: 0 15px 0 0;   text-decoration: none;
    color: var(--white);
    font-size: 24px; 
}

.nav-link {
    font-size: 18px; 
    color: var(--white);
    list-style: none;
    text-decoration: none;
}

.nav-link.cadastro {
    padding: 10px 20px;   
    font-size: 18px; 
    background-color: var(--yellow-light);
    border-radius: 30px;
    color: var(--black);
}

.nav-link.cadastro:hover {
    background-color: var(--yellow-dark);
    color: #000000;
    border: 2px solid #A973C2; 
}

.form-right input:hover,
.form-right input:focus {
    border: 2px solid var(--yellow-dark); 
}

.btn-div{
    height: 100%;
}
.btn:hover{
    background-color: var(--gray-light);
}

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    width: 100%;
    height: 250px;   overflow: hidden;
}

.hero img {
    filter: brightness(40%) blur(4px);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    position: relative;
}

.logo-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;   margin-bottom: 20px; 
}
h1 {
    position: absolute;
    font-size: 32px; 
    background: #A973C2;
    background: linear-gradient(to bottom, #A973C2 40%, #fecb12 69%);
    
    -webkit-text-fill-color: transparent;
    font-family: "Kaushan Script";
}

.form-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.nameProject {
    z-index: 1;
    font-family: "Kaushan Script";
}

.box {
    display: flex;
    justify-content: center;
}

.box img {
    width: 100%;  max-width: 648px;
    filter: brightness(40%) blur(1px);
}

.form-login {
    width: 90%;  box-sizing: border-box;
    background-color: var(--orange-400);
    display: flex;
    flex-direction: column;
    color: #000;
    margin: 20px auto; 
}

.Login-right {
    font-size: 40px; 
    color: #000;
    padding-top: 20px;
    font-family: "Kaushan Script";
}

.Login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn-div {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 211px;
    flex-direction: column;
    font-family: "Nunito";
    margin-top: 20px;
    margin-bottom: 20px; 
    width: 100%;
    background-size: cover;
    background-position: 0 100%;
}
.form-right {
    display: flex;
    flex-direction: column;
    margin-top: 1rem; 
    font-size: 24px; 
    font-family: "Nunito";
    font-weight: bolder;
}

.input {
    height: 47px;
    font-size: 20px;
    padding-left: 15px;
    border-radius: 6px;
    width: auto;
}

.form-right label {
    padding-bottom: 15px;
    padding-left: 20px;
    padding-top: 30px;
}

.form-right input {
    margin-bottom: 25px;
    margin: 0px 20px;
}

.btn {
    border-radius: 32px;
    line-height: normal;
    width: 140px;
    font-size: 20px;
    height: 47px;
}

.btn-div p {
    color: white;
    text-align: center;
    padding-top: 20px;
}

.btn-div strong {
    color: var(--yellow-dark);
}

.form-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

li {
    list-style: none;
}

.character-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px; 
}

.container-character {
    background-color: var(--orange-400);
    font-family: "Kaushan Script";
    font-size: 20px; 
    margin-bottom: 15px;
}

.character-info {
    display: flex;
    flex-direction: column;
    background-color: var(--gray-light);
    background-size: cover;
    min-height: 250px; /* Altura mínima padrão */
    font-size: 18px;
}

.character-info img {
    max-width: 100%;
    height: auto;
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-info {
    background-color: var(--black);
    color: var(--white);
    padding: 20px;
    box-sizing: border-box;
    min-height: 150px; 
    background-size: cover; 
    height: 100%; 
}

@media only screen and (max-width: 768px) {
    .box-info {
        min-height: 120px; 
    }
}

a {
    color: var(--yellow-dark);
}

@media only screen and (max-width: 768px) {
    .nav-link.cadastro {
        font-size: 16px;
        padding: 10px 15px;
    }

    .btn {
        width: 120px;
        font-size: 18px;
        height: 40px;
    }

    .character-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 10px;
    }
}
